*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

header {
  display: block;
}

.header-div {
  list-style: none;
  margin: 0.5rem 11px 2rem 6px;
  text-align: left;
  display: flex;
  gap: 0.5rem;
  flex-direction: row;
  align-items: center;
  border: 1px solid black;
  padding: 0;
}

.date {
  text-align: right;
  margin: -1.5rem 11px 2rem 0;
}

.header-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  margin: 1rem -8px -2rem auto;
  text-decoration: none;
}

.header-div h4 {
  margin: -0.5rem 11px 0 6px;
  padding-top: 5px;
}

.item {
  list-style: none;
  margin: -1rem 0 2rem 0;
  text-align: left;
  display: flex;
  gap: 0.5rem;
  flex-direction: row;
  align-items: center;
  border: none;
  border-right: 1px solid black;
  background-color: transparent;
  padding: 0.3rem;
  padding-right: 6px;
}

.item2 {
  list-style: none;
  margin: -1rem 0 2rem 0;
  text-align: left;
  display: flex;
  gap: 0.5rem;
  flex-direction: row;
  align-items: center;
  border: none;
  border-right: none;
  background-color: transparent;
  padding: 0.3rem;
  padding-right: 1rem;
}

h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.books-list {
  width: 90vw;
  margin: 0 auto;
}

nav {
  margin: 0 0;
  margin-left: 408px;
}

ul .books {
  margin: 1rem 0 2rem 0;
  text-align: center;
  align-items: center;
}

li {
  list-style: none;
  margin: -1rem 0 2rem 0;
  text-align: left;
  display: flex;
  gap: 0.5rem;
  flex-direction: row;
  align-items: center;
  border: 1px solid black;
  background-color: rgb(230, 222, 222);
  padding: 0.3rem;
  padding-right: 1rem;
}

h3 {
  text-transform: capitalize;
}

li button {
  padding: 0.1rem 0.3rem;
  box-shadow: 3px 3px 3px black;
  margin-left: auto;
}

form {
  width: 50vw;
  margin: 0 auto;
  margin-top: 2.2rem;
}

form * {
  margin-top: 1rem;
}

form input {
  width: 100%;
  padding: 0.5rem;
  border: solid 2px;
}

form h2 {
  text-align: center;
}

form h2 span {
  border-top: 2px solid black;
  padding-top: 1rem;
}

form button {
  float: right;
  padding: 0.1rem 0.3rem;
  box-shadow: 3px 3px 3px black;
}

footer {
  display: block;
  list-style: none;
  margin: 11.5rem 13px 0 8px;
  text-align: left;
  border: 1px solid black;
  padding: 0.3rem;
}

.contact p {
  text-align: center;
  margin-bottom: 18px;
}

.contact .text {
  text-align: center;
  margin-left: -227px;
  margin-top: -12px;
}

.contact-info {
  text-decoration: dotted;
  list-style: circle;
}

ul .contact-info,
.contact-info li {
  background-color: transparent;
  border: none;
  text-align: center;
  margin: 0;
  margin-left: 170px;
  text-decoration: dotted;
  list-style: circle;
}
